---
layout: default
title: Home
top: true
---

<div class="mod-postlist">
	{% for post in paginator.posts %}
		<section>
			<header>
				<p><time datatime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time></p>
				<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			</header>
			<div class="summary"><p>{{ post.summary }}</p></div>
		</section>
	{% endfor %}
</div>

{% if paginator.previous_page or paginator.next_page %}
	<div class="mod-pagenation">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
				<div class="prev"><a href="/">&#171; Newer Entries</a></div>
			{% else %}
				<div class="prev"><a href="/page{{ paginator.previous_page }}">&#171; Newer Entries</a></div>
			{% endif %}
		{% endif %}
		{% if paginator.next_page %}
			<div class="next"><a href="/page{{ paginator.next_page }}">Older Entries &#187;</a></div>
		{% endif %}
	</div>
{% endif %}

