<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:title" content="{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:image" content="{{ site.url }}/img/logo1.png">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:description" content="{{ page.summary }}">
	<meta property="fb:app_id" content="414280305262678">
	<title>{% unless page.top %}{{ page.title }} | {% endunless %}{{ site.title }}</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="alternate" href="/atom.xml" type="application/rss+xml" title="{{ site.title }}">
	<link rel="stylesheet" href="/css/all.min.css">
	<script src="/js/modernizr-2.5.3.min.js"></script>
	<script>if(!Modernizr.mq('only all')) Modernizr.load('/js/respond.min.js');</script>
	<script src="//typesquare.com/accessor/script/typesquare.js?4K0leOFaobI%3D"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="/js/all.min.js"></script>
</head>
