<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ja"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="ja"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="ja"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ja"> <!--<![endif]-->
	{% include head.html %}
	<body>
		<div class="area-body">
			{% include header.html %}
			<div class="area-main">{{ content }}</div>
			{% include footer.html %}
		</div>
		{% include ga.html %}
	</body>
</html>
