<!doctype html>
<html class="no-js" lang="ja">
	{% include head.html %}
	<body>
		<div class="area-body">
			{% include header.html %}
			<div class="area-main">{{ content }}</div>
			{% include footer.html %}
		</div>
		{% include ga.html %}
		<div id="fb-root"></div>
		<div class="mod-github"><a href="http://github.com/fingaholic"><img src="https://a248.e.akamai.net/camo.github.com/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a></div>
	</body>
</html>
